name: SSH into EC2 and create file

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  ssh-job:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 and create file
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu
            touch Anamika
            ls -l Anamika
